body {
    font-family: 'Poppins', sans-serif !important;
}

a {
    color: #212529 !important;
    text-decoration: none !important;
}

.fa-2xl {
    margin-top: 50px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.flex-container-pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 436px;
    height: 296px;
    color: white;
    font-family: 'Raleway';
    font-size: 2.5rem;
    padding-bottom: 15px;
}

.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.sticky-top {
    background: white;
}

img {
    width: 432px;
    height: 288.141px;
    object-fit: cover;
    vertical-align: bottom;
    padding-top: 5px;
}

.middle-img {
    margin-left: 30px;
    margin-right: 30px;
}


@media (max-aspect-ratio: 1/1) {
    li {
        height: 30vh;
    }
}

@media (max-height: 480px) {
    li {
        height: 80vh;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
        flex-direction: row;
    }

    li {
        height: auto;
        width: 100%;
    }

    img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}